<div class="row full-width">
  <div class="small-3 columns">
    <%= image_tag('main1.png') %>
    <%= image_tag('main2.png') %>
    <%= image_tag('main3.png') %>
  </div>
  <div class="small-6 columns">
    <h1 class="text-center">Finn Meadows Farm</h1>
    <div class="row">
      <div class="small-12 columns">
        <p class="panel">
          Welcome to the Finn Meadows Farm website. Here you can learn a bit about our 
          farm, how we raise our crops and livestock, sign up for our CSA, and read
          our articles about how we strive to produce the highest quality product the
          way that nature intended. Check us out!
        </p>
      </div>
      <div class="small-4 columns">
        <h3>Origins</h3>
        <p>Learn a bit about who we are and how we got our start. The first step in
        knowing your food is to know a bit about the people who grow it.</p>
        <a href="#" class="button">Learn More</a>
      </div>
      <div class="small-4 columns">
        <h3>Crops and Livestock</h3>
        <p>We do our planting and cultivating by hand. We avoid the use of pesticides.
        And our livestock enjoys free range on our pasture with plenty of sun and grass.</p>
        <a href="#" class="button">Learn More</a>
      </div>
      <div class="small-4 columns">
        <h3>CSA</h3>
        <p>We have two CSAs. One for winter crops and the other for summer and fall crops.
        We love what we produce, and we love to share it with others!</p>
        <a href="#" class="button">Learn More</a>
      </div>
      
      <hr />

      <div class="small-12 columns">
        <h2 class="text-center">What's Happening on the Farm?</h2>
        
      </div>
    </div>
  </div>
  <div class="small-3 columns">
    <%= image_tag('main4.png', :class => "right") %>
    <%= image_tag('main5.png', :class => "right") %>
    <%= image_tag('main6.png', :class => "right") %>
  </div>
</div>
