<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to "Finn Meadows Farm", root_path %></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">
          <li><%= link_to "Who We Are", main_pages_who_we_are_path %></li>
          <li class="has-dropdown">
            <a href="#">What We Do</a>
            <ul class="dropdown">
              <li><%= link_to "Vegetables" %></li>
              <li><%= link_to "Fruits" %></li>
              <li><%= link_to "Livestock" %></li>
            </ul>
          </li>
          <li class="has-dropdown">
            <a href="#">How We Do It</a>
            <ul class="dropdown">
              <li><%= link_to "How We Market" %></li>
              <li><%= link_to "How We Produce" %></li>
            </ul>
          </li>
        </ul>
      </section>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    <footer class="on-bottom">
      <ul class="vcard">
        <li>8100 Perin Rd.</li>
        <li>Cincinnati, OH 45242</li>
        <li>Marc: 812-212-1196</li>
        <li>Claire: 513-608-6585</li>
      </ul>

      <div class="admin-list">
        <h3>Admin</h3>
        <ul>
          <li><%= link_to "Sign In", new_admin_session_path %></li>
        </ul>
      </div>
    </footer>

    <%= javascript_include_tag "application" %>
  </body>
</html>
